<html lang = "en">
<head>

    <meta charset = "utf-8">
    <title> Jamboore Case </title>

</head>

<body>

    <h1> Jamboore </h1>
    {% if result %}
        <p>{{result}}</p>
    {% endif %}
    <form method = "post" action = "/predict">
        <label> Serial No </label>
        <input type = "text" name = "sno"> <br><br>

        <label> GRE Score </label>
        <input type = "text" name = "gre"> <br><br>

        <label> TOEFL Score </label>
        <input type = "text" name = "toefl"> <br><br>

        <label> University Rating </label>
        <input type = "text" name = "university"> <br><br>

        <label> SOP </label>
        <input type = "text" name = "sop"> <br><br>

        <label> LOR </label>
        <input type = "text" name = "lor"> <br><br>

        <label> CGPA </label>
        <input type = "text" name = "cgpa"> <br><br>

        <label> Research </label>
        <input type = "text" name = "research"> <br><br>

        <input type = "submit" value = "Predict"> <br><br>
    </form>

</body>
</html>